# Ignore virtual environment directory
env/

# Ignore all contents of json_files_updated folder
json_files_updated/
json_files_test/
json_files_ragas/
json_files_ragas3/

# Other common ignores
*.pyc
__pycache__/
*.log
.DS_Store
.env
.vscode/
.idea/
*.swp

# Ignore Jupyter Notebook checkpoints 
.ipynb_checkpoints/

# Ignore trulens database
default.sqlite

# Ignore chat history sqlite 
sqlite.db

# Ignore embeddings 
embeddings/*
