# Ignore virtual environment directory
env/

# Ignore all contents of json_files_updated folder
json_files_updated/
json_files_test/

# Other common ignores
*.pyc
__pycache__/
*.log
.DS_Store
.env
.vscode/
.idea/
*.swp

# Ignore Jupyter Notebook checkpoints 
.ipynb_checkpoints/

# Ignore the embeddings 
embeddings/*


# Ignore trulens database
default.sqlite

# Ignore chat history sqlite 
sqlite.db
